canvas {
    border: 1px solid dimgray;
    height: 300px;
}

h1 {
    font-family: arial;
    color: dimgray;
}

body {
    font-family: arial;
    margin: 30px;
}

.container {
    margin-top: 50px;
}