canvas {
    border: 1px solid dimgray;
    height: 300px;
}

h1, h2 {
    font-family: arial;
    color: dimgray;
}

body {
    font-family: arial;
    margin: 30px;
}

button {
    width: 130px;
    height: 30px;
    border-radius: 3px;
    margin-top: 3px;
}